body {
  background-color: #0c1027;
}

#main {
  padding: 0% 15%;
}

#screen {
  min-width: 50%;
  display: inline;
}

#sidebar {
  min-width: 20%;
  background-color: aqua;
  display: inline;
}
